.title-item{
    padding-left: 1rem;
    padding-right: 3rem;
}

.subtitle{
    font-weight: 300;
}

.answer{
    font-weight: 400;
    padding: 0 2rem 0 2rem;
}

.selected {
    background-color: #9e9e9e;

    .subtitle{
        font-weight: 400;
    }
}  
.plus-button{
    border: none;
    background-color: yellow;
    margin-right: 1rem;
    &:focus {outline:0;}
    &:hover {
        cursor: pointer;
    }
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    &.down {
        -moz-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
    }
}