
.title {
    font-size: 3rem;
    font-weight: 700;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.faq-item {
    border-bottom-style: solid;
}

.container {
    padding: 0 4rem 0 4rem;
}